m_mi_g: macro_mac_int_grave {
    compatible = "zmk,behavior-macro";
    label = "`";
    #binding-cells = <0>;
    bindings =
        <&kp GRAVE>;
};

m_mi_t: macro_mac_int_tilde {
    compatible = "zmk,behavior-macro";
    label = "~";
    #binding-cells = <0>;
    bindings =
        <&kp TILDE>;
};

m_mi_c: macro_mac_int_caret {
    compatible = "zmk,behavior-macro";
    label = "^";
    #binding-cells = <0>;
    bindings =
        <&kp CARET>;
};

m_mi_d: macro_mac_int_double_quote {
    compatible = "zmk,behavior-macro";
    label = "''";
    #binding-cells = <0>;
    bindings =
        <&kp DQT>;
};

m_mi_s: macro_mac_int_single_quote {
    compatible = "zmk,behavior-macro";
    label = "'";
    #binding-cells = <0>;
    bindings =
        <&kp SQT>;
};
