#define HOLD_LABEL(LABEL) #LABEL

#define MOTO_HOLD(OS, MO, CB, TO)                                             \
  mo_##OS##MO##OS##CB##_to_##OS##TO: hold_mo_##OS##MO##OS##CB##_to_##OS##TO { \
      compatible = "zmk,behavior-hold-tap";                                   \
      label=HOLD_LABEL(mo_##OS##MO##OS##CB##_to_##OS##TO);                    \
      #binding-cells = <2>;                                                   \
      tapping-term-ms = <HP_TAPPING>;                                         \
      flavor = "hold-preferred";                                              \
      bindings = <&mo_##OS##MO##_to_##OS##CB>, <&to_##OS##TO>;                \
  };

#define HR_HOLD(OS, LYR, MOD, MACRO)            \
  hm_##OS##LYR_##MOD: hold_hm_##OS##LYR_##MOD { \
      compatible = "zmk,behavior-hold-tap";     \
      label=HOLD_LABEL(hm_##OS##LYR_##MOD);     \
      #binding-cells = <2>;                     \
      tapping-term-ms = <HP_TAPPING>;           \
      quick-tap-ms = <HP_QUICK_TAP>;            \
      flavor = "hold-preferred";                \
      global-quick-tap;                         \
      bindings = <&kp>, <&MACRO>;               \
  };
