hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW MODS";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    bindings = <&kp>, <&kp>;
};

tokp: behavior_to_kp {
    compatible = "zmk,behavior-hold-tap";
    label = "tokp";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&to>, <&kp>;
};

moto: behavior_mo_to {
    compatible = "zmk,behavior-hold-tap";
    label = "moto";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&to>;
};
