// tap:     `
m_i_g: macro_win_int_grave {
    compatible = "zmk,behavior-macro";
    label = "m_i_g";
    #binding-cells = <0>;
    bindings =
        <&kp GRAVE &kp SPACE>;
};

// tap:     ~
m_i_t: macro_win_int_tilde {
    compatible = "zmk,behavior-macro";
    label = "m_i_t";
    #binding-cells = <0>;
    bindings =
        <&kp TILDE &kp SPACE>;
};

// tap:     ^
m_i_c: macro_win_int_caret {
    compatible = "zmk,behavior-macro";
    label = "m_i_c";
    #binding-cells = <0>;
    bindings =
        <&kp CARET &kp SPACE>;
};

// tap:     "
m_i_d: macro_win_int_double_quote {
    compatible = "zmk,behavior-macro";
    label = "m_i_d";
    #binding-cells = <0>;
    bindings =
        <&kp DQT &kp SPACE>;
};

// tap:     '
m_i_s: macro_win_int_single_quote {
    compatible = "zmk,behavior-macro";
    label = "m_i_s";
    #binding-cells = <0>;
    bindings =
        <&kp SQT &kp SPACE>;
};
