TO_MACRO(a, DEV)  //to_aDEV
TO_MACRO(a, AXN)  //to_aAXN
TO_MACRO(a, FNK)  //to_aFNK
TO_MACRO(a, STG)  //to_aSTG

cw_aON: cw_aON {
    compatible = "zmk,behavior-macro";
    label = "cw_aON";
    #binding-cells = <0>;
    bindings =
        <&kp LG(LC(H_wCWR)) &cw>;
};

cw_aOFF: cw_wOFF {
    compatible = "zmk,behavior-macro";
    label = "cw_aOFF";
    #binding-cells = <0>;
    bindings =
        <&kp LG(LA(H_wCWR)) &kp K_CANCEL>;
};