/* Mod Tap */
&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <MT_TAPPING>;
    quick-tap-ms = <MT_QUICK_TAP>;      // repeat on tap-into-hold
    hold-trigger-key-positions = <0>;   // tap on interrupt
};
