/* Shared Keys */
#define KEY_SPC   &kp  SPACE
#define NAV_BSPC  &mt  LC(BSPC)  BSPC   // tap: bspc | long-tap: delete word backward
#define NAV_DEL   &mt  LC(DEL)   DEL    // tap: del  | long-tap: delete word forward
