/*                KEY POSITIONS

  ╭────────────────────────╮ ╭─────────────────────────╮
  │  0   1   2   3   4   5 │ │   6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │  18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │  30  31  32  33  34  35 │
  ╰──────╮      36  37  38 │ │  39  40  41 ╭───────────╯
         ╰─────────────────╯ ╰─────────────╯

*/


/* Shared Keys */
#define KEY_SPC   &kp  SPACE
#define NAV_BSPC  &mt  LC(BSPC)  BSPC   // tap: bspc | long-tap: delete word backward
#define NAV_DEL   &mt  LC(DEL)   DEL    // tap: del  | long-tap: delete word forward
