/* windows */
#define wBAS  00
#define wDEV  01
#define wAXN  02
#define wFNK  03
#define wSTG  04

/* macOs */
#define mBAS  10
#define mDEV  11
#define mAXN  12
#define mFNK  13
#define mSTG  14

/* android */
#define aBAS  20
#define aDEV  21
#define aAXN  22
#define aFNK  23
#define aSTG  24
