/* Shared Keys */
#define WKY_ESC  &to_wBAS_kp  0      ESC  // tap: esc    | long-tap: BAS layer
#define WKY_RET  &mt          F2     RET  // tap: return | long-tap: rename (like macOs)
#define WKY_TAB  &mt          RIGHT  TAB  // tap: tab    | long-tap: right (terminal autocompletion)
