hm_b_lcmd: behavior_base_lcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_b_lcmd";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&mp_i_a>;
};

hm_b_rshf: behavior_base_rshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_b_rshf";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&mp_i_n>;
};

hm_b_ralt: behavior_base_ralt {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_b_ralt";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&mp_i_e>;
};

hm_b_rctrl: behavior_base_rctrl {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_b_rctrl";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&mp_i_i>;
};

hm_b_rcmd: behavior_base_rcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_b_rcmd";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&mp_i_o>;
};
