hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW MODS";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;               // repeat on tap-into-hold
    hold-trigger-key-positions = <0>;   // tap on interrupt
};
