to_DEF_kp: behavior_to_kp {
    compatible = "zmk,behavior-hold-tap";
    label = "to_kp";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&to_DEF>, <&kp>;
};

mo_AXNDEF_to_DEV: hold_mo_AXNDEF_to_DEV {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AXN_DEF_to_DEV";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AXN_to_DEF>, <&to_DEV>;
};

mo_AXNDEF_to_AXN: hold_mo_AXNDEF_to_AXN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AXN_DEF_to_AXN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AXN_to_DEF>, <&to_AXN>;
};

mo_STGDEF_to_STG: hold_mo_STGDEF_to_STG {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_STG_DEF_to_STG";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_STG_to_DEF>, <&to_STG>;
};

mo_AXNDEV_to_DEF: hold_mo_AXNDEV_to_DEF {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AXNDEV_to_DEF";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AXN_to_DEV>, <&to_DEF>;
};

mo_AXNDEV_to_AXN: hold_mo_AXNDEV_to_AXN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AXNDEV_to_AXN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AXN_to_DEV>, <&to_AXN>;
};

mo_STGAXN_to_STG: hold_mo_STGAXN_to_STG {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_STG_AXN_to_STG";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_STG_to_AXN>, <&to_STG>;
};