to_DEF_kp: behavior_to_kp {
    compatible = "zmk,behavior-hold-tap";
    label = "to_kp";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&to_DEF>, <&kp>;
};

mo_AYNDEF_to_DEV: hold_mo_AYNDEF_to_DEV {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AYN_DEF_to_DEV";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AYN_to_DEF>, <&to_DEV>;
};

mo_AYNDEF_to_AYN: hold_mo_AYNDEF_to_AYN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AYN_DEF_to_AYN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AYN_to_DEF>, <&to_AYN>;
};

mo_STGDEF_to_STG: hold_mo_STGDEF_to_STG {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_STG_DEF_to_STG";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_STG_to_DEF>, <&to_STG>;
};

mo_AYNDEV_to_DEF: hold_mo_AYNDEV_to_DEF {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AYNDEV_to_DEF";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AYN_to_DEV>, <&to_DEF>;
};

mo_AYNDEV_to_AYN: hold_mo_AYNDEV_to_AYN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_AYNDEV_to_AYN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_AYN_to_DEV>, <&to_AYN>;
};

mo_STGAYN_to_STG: hold_mo_STGAYN_to_STG {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_STG_AYN_to_STG";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo_STG_to_AYN>, <&to_STG>;
};