hm_wb_lcmd: behavior_win_base_lcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wb_lcmd";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wi_a>;
};

hm_wb_rshf: behavior_win_base_rshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wb_rshf";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wi_n>;
};

hm_wb_ralt: behavior_win_base_ralt {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wb_ralt";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wi_e>;
};

hm_wb_rctrl: behavior_win_base_rctrl {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wb_rctrl";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wi_i>;
};

hm_wb_rcmd: behavior_win_base_rcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wb_rcmd";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wi_o>;
};
