hm_wd_lcmd: behavior_windows_dev_lcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_lcmd";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_lao>;
    hold-trigger-key-positions = KEYS_RIGHT;
};

hm_wd_lshf: behavior_windows_dev_lshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_lshf";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_e>;
    hold-trigger-key-positions = KEYS_RIGHT;
};

hm_wd_rshf: behavior_windows_dev_rshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rshf";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_es>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_wd_ralt: behavior_windows_dev_ralt {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_ralt";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_lb>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_wd_rctrl: behavior_windows_dev_rctrl {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rctrl";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_rb>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_wd_rcmd: behavior_windows_dev_rcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rcmd";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_loo>;
    hold-trigger-key-positions = KEYS_LEFT;
};
