HR_HOLD(w, DEV, LG, mp_wDEV_lao)  //hm_wDEV_LG
HR_HOLD(w, DEV, LS, mp_wDEV_e)    //hm_wDEV_LG
HR_HOLD(w, DEV, RS, mp_wDEV_es)   //hm_wDEV_RS
HR_HOLD(w, DEV, RA, mp_wDEV_lb)   //hm_wDEV_RA
HR_HOLD(w, DEV, RC, mp_wDEV_rb)   //hm_wDEV_RC
HR_HOLD(w, DEV, RG, mp_wDEV_loo)  //hm_wDEV_RG
