hm_wd_lcmd: behavior_win_dev_lcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_lcmd";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_lao>;
};

hm_wd_lshf: behavior_win_dev_lshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_lshf";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_e>;
};

hm_wd_rshf: behavior_win_dev_rshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rshf";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_es>;
};

hm_wd_ralt: behavior_win_dev_ralt {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_ralt";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_lb>;
};

hm_wd_rctrl: behavior_win_dev_rctrl {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rctrl";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_rb>;
};

hm_wd_rcmd: behavior_win_dev_rcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_wd_rcmd";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_wd_loo>;
};
