/* Layers */
#define ABAS    20
#define ADEV    21
#define AAXN    22
#define FANK    23
#define ASTG    24

/ {
    behaviors {
        #include "../all/hold/shared.dtsi"
        #include "morph/layers.dtsi"
    };

    combos {
        compatible = "zmk,combos";

        #include "../all/combos/base.dtsi"
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            #define B13  &hm LCMD    A
            #define B14  &hm LCTRL   R
            #define B15  &hm LALT    S
            #define B16  &hm LSHFT   T

            #define B19  &hm RSHFT  N
            #define B20  &hm LALT   E
            #define B21  &hm RCTRL  I
            #define B22  &hm RCMD   O

            #define B35  &mp_stg

            #define B36  &mo_DEVBAS_to_DEV  0 0
            #define B38  &mo_AXNBAS_to_AXN  0 0
            #define B39  &mo_AXNBAS_to_FNK  0 0
            #define B41  &mo_DEVBAS_to_DEV  0 0

            label = "ABAS";
            bindings = <
    KEY_ESC  &kp Q  &kp W  &kp F    &kp P  &kp B             &kp J    &kp L  &mp_wi_u  &mp_wi_y  &mp_k_m    NAV_DEL
     &mp_bc    B13    B14    B15      B16  &kp G             &kp M      B19       B20       B21      B22   NAV_BSPC
    KEY_TAB  &kp Z  &kp X  &kp C    &kp D  &kp V             &kp K    &kp H    &mp_cs    &mp_dc   &mp_kq        B35
                             B36  KEY_SPC    B38               B39  KEY_RET       B41
            >;
        };

        settings_layer {
            #define S10  &kp LG(LS(GRAVE))    // tap: fancy zones
            #define S11  &kp LC(LS(ESC))      // tap: task manager
            #define S24  &kp LG(K)            // tap: connect quick action

            #define S22  &kp RG(PAUSE_BREAK)  // tap: system info
            #define S23  &kp RG(I)            // tap: windows settings
            #define S34  &kp LC(LA(DEL))      // tap: windows security

            #define S05  &kp RC(PLUS)         // tap: zoom in
            #define S17  &kp RC(N0)           // tap: zoom reset
            #define S29  &kp RC(MINUS)        // tap: zoom out

            #define S07  &kp RG(EQUAL)        // tap: magnifier in
            #define S18  &kp RG(ESC)          // tap: magnifier reset
            #define S30  &kp RG(MINUS)        // tap: magnifier out

            label = "ASTG";
            bindings = <
       KEY_ESC  &none    &none         &none    &none       S05                   S07  &kp C_VOL_DN    &kp C_MUTE  &kp C_VOL_UP  S10    S11
    &bt BT_CLR  &none  &m_s_b1       &m_s_b2  &m_s_b3       S17                   S18    &kp C_PREV      &kp C_PP    &kp C_NEXT  S22    S23
           S24  &none  &m_s_b4       &m_s_b5  &m_s_b6       S29                   S30      &kp C_RW    &kp C_STOP      &kp C_FF  S34  &none
                                &kp C_BRI_DN  KEY_SPC   &to_BAS               &to_DEV       KEY_RET  &kp C_BRI_UP
            >;
        };
    };
};
