/* Shared Keys */
#define AKY_ESC  &tokp aBAS  ESC    // tap: esc     | long-tap: BAS layer
#define KEY_RET  &mt   F2    RET    // tap: return  | long-tap: rename (like macOs)

/ {
    behaviors {
        #include "../all/morph/shared.dtsi"
        #include "morph/layers.dtsi"
        #include "../all/morph/base.dtsi"
        #include "morph/int.dtsi"
        #include "morph/actions.dtsi"
        #include "../all/morph/num.dtsi"
        #include "morph/dev.dtsi"

        #include "../all/hold/shared.dtsi"
        #include "hold/base.dtsi"
        #include "hold/dev.dtsi"
    };

    combos {
        compatible = "zmk,combos";

        #include "combos/base.dtsi"
    };

    macros {
        #include "macros/int.dtsi"
        #include "macros/dev.dtsi"
        #include "macros/settings.dtsi"
    };

    keymap {
        compatible = "zmk,keymap";

        win_base_layer {
            #define B13  &hm_b_lcmd  LCMD   0  //A
            #define B14  &hm LCTRL   R
            #define B15  &hm LALT    S
            #define B16  &hm LSHFT   T

            #define B19  &hm_b_rshf  RSHFT  0  //N
            #define B20  &hm_b_ralt  LALT   0  //E
            #define B21  &hm_b_rctrl RCTRL  0  //I
            #define B22  &hm_b_rcmd  RCMD   0  //O

            #define B35  &mp_moto    aSTG   aSTG

            #define B36  &moto       aDEV   aDEV
            #define B38  &moto       aAXN   aAXN
            #define B39  &moto       aAXN   aFNK
            #define B41  &moto       aDEV   aDEV

            label = "aBAS";
            bindings = <
    AKY_ESC  &kp Q  &kp W  &kp F    &kp P  &kp B             &kp J    &kp L  &mp_ai_u  &mp_ai_y  &mp_k_m    NAV_DEL
     &mp_bc    B13    B14    B15      B16  &kp G             &kp M      B19       B20       B21      B22   NAV_BSPC
    KEY_TAB  &kp Z  &kp X  &kp C    &kp D  &kp V             &kp K    &kp H    &mp_cs    &mp_dc   &mp_kq        B35
                             B36  KEY_SPC    B38               B39  KEY_RET       B41
            >;
        };

        win_dev_layer {
            #define D13  &hm_d_lcmd  LCMD    0
            #define D14  &hm         LCTRL   LBRC
            #define D15  &hm         LALT    RBRC
            #define D16  &hm_d_lshf  LSHFT   0

            #define D19  &hm_d_rshf  RSHFT   0
            #define D20  &hm_d_ralt  LALT    0
            #define D21  &hm_d_rctrl RCTRL   0
            #define D22  &hm_d_rcmd  RCMD    0

            #define D38  &moto       aAXN    aBAS
            #define D39  &moto       aAXN    aAXN

            label = "aDEV";
            bindings = <
    AKY_ESC     &kp AT  &mp_d_pound  &mp_d_money  &mp_d_p    &m_ai_d            &m_ai_t   &mp_d_m  &kp UNDER  &kp PRCNT    &m_ai_c    NAV_DEL
     &mp_bc        D13          D14          D15      D16    &m_ai_s            &m_ai_g       D19        D20        D21        D22   NAV_BSPC
    KEY_TAB  &kp LC(R)     &kp LPAR     &kp RPAR  &mp_d_a   &kp BSLH            &mp_d_s  &mp_d_qs   &mp_d_lt   &mp_d_gt   &mp_d_ql    &kp F12
                                          &mp_cs  KEY_SPC        D38                D39   KEY_RET     &mp_dc
            >;
        };

        win_act_num_layer {
            #define A01  &kp    LG(LS(C))           // tap: color picker
            #define A05  &kp    LC(F)               // tap: find
            #define A13  &hm    LCMD   LG(LS(S))    // tap: printscreen
            #define A14  &hm    LCTRL  LEFT
            #define A15  &hm    LALT   DOWN
            #define A16  &hm    LSHFT  RIGHT
            #define A17  &kp    LG(E)               // tap: file explorer

            #define A19  &hm    LSHFT  N4
            #define A20  &hm    LALT   N5
            #define A21  &hm    LCTRL  N6
            #define A22  &hm    LCMD   EQUAL

            #define A35  &moto  aFNK   aFNK

            #define A38  &to    aBAS
            #define A39  &to    aDEV

            #define KEY_UNDO    &kp RC(Z)       // tap: undo
            #define KEY_REDO    &kp RC(Y)       // tap: redo
            #define KEY_CUT     &kp RC(X)       // tap: cut
            #define KEY_COPY    &kp RC(C)       // tap: copy
            #define KEY_PASTE   &kp RC(V)       // tap: paste     | shift: paste without format

            label = "aAXN";
            bindings = <
    AKY_ESC       A01  &mp_a_prev    &kp UP  &mp_a_next       A05            &kp KP_PLUS   &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY   NAV_DEL
     &mp_bc       A13         A14       A15         A16       A17                 &kp N0      A19     A20     A21              A22  NAV_BSPC
    KEY_TAB  KEY_UNDO     KEY_CUT  KEY_COPY   KEY_PASTE  KEY_REDO                &mp_k_m   &kp N1  &kp N2  &kp N3    &kp KP_DIVIDE       A35
                                     &mp_cs     KEY_SPC       A38                    A39  KEY_RET  &mp_dc
            >;
        };

        win_functions_layer {
            #define K13  &hm LCMD   F5
            #define K14  &hm LCTRL  F6
            #define K15  &hm LALT   F7
            #define K16  &hm LSHFT  F8

            #define K19  &hm RSHFT  HOME
            #define K20  &hm LALT   PG_DN
            #define K21  &hm RCTRL  END
            #define K22  &kp RCMD

            #define K38  &to aBAS
            #define K39  &to aDEV

            label = "aFNK";
            bindings = <
    AKY_ESC  &kp F9  &kp F10  &kp F11  &kp F12  &none                  &none    &none  &kp PG_UP    &none    &none   NAV_DEL
     &mp_bc     K13      K14      K15      K16  &none                  &none      K19        K20      K21      K22  NAV_BSPC
    KEY_TAB  &kp F1   &kp F2   &kp F3   &kp F4  &none                  &none    &none      &none    &none    &none     &none
                               &mp_cs  KEY_SPC    K38                    K39  KEY_RET     &mp_dc
            >;
        };

        win_settings_layer {
            #define S10  &kp LG(LS(GRAVE))    // tap: fancy zones
            #define S11  &kp LC(LS(ESC))      // tap: task manager
            #define S24  &kp LG(K)            // tap: connect quick action

            #define S22  &kp RG(PAUSE_BREAK)  // tap: system info
            #define S23  &kp RG(I)            // tap: windows settings
            #define S34  &kp LC(LA(DEL))      // tap: windows security

            #define S05  &kp RC(PLUS)         // tap: zoom in
            #define S17  &kp RC(N0)           // tap: zoom reset
            #define S29  &kp RC(MINUS)        // tap: zoom out

            #define S07  &kp RG(EQUAL)        // tap: magnifier in
            #define S18  &kp RG(ESC)          // tap: magnifier reset
            #define S30  &kp RG(MINUS)        // tap: magnifier out

            label = "aSTG";
            bindings = <
       AKY_ESC  &none  &m_s_b1       &m_s_b2    &none        S05                    S07  &kp C_VOL_DN    &kp C_MUTE  &kp C_VOL_UP  S10    S11
    &bt BT_CLR  &none  &m_s_b3       &m_s_b4    &none        S17                    S18    &kp C_PREV      &kp C_PP    &kp C_NEXT  S22    S23
           S24  &none  &m_s_b5       &m_s_b6    &none        S29                    S30      &kp C_RW    &kp C_STOP      &kp C_FF  S34  &none
                                &kp C_BRI_DN  KEY_SPC   &to aBAS               &to aDEV       KEY_RET  &kp C_BRI_UP
            >;
        };
    };
};
