/* android */
#define aBAS  5
#define aDEV  6
#define aAXN  7
#define aFNK  8
#define aSTG  9

/* android */
// #define aBAS 10
// #define aDEV 11
// #define aAXN 12
// #define aFNK 13
// #define aSTG 14


/* Helpers */
#define H_aCWR  LG(LS(F6))
#define F_aBAS  LG(LS(F7))
#define F_aDEV  LG(LS(F8))
#define F_aAXN  LG(LS(F9))
#define F_aFNK  LG(LS(F10))
#define F_aSTG  LG(LS(F11))