/* android */
#define aBAS  5
#define aDEV  6
#define aAXN  7
#define aFNK  8
#define aSTG  9

/* android */
// #define aBAS 10
// #define aDEV 11
// #define aAXN 12
// #define aFNK 13
// #define aSTG 14


/* Helpers */
#define H_aCWR  LG(X)
#define F_aBAS  LG(LS(B))
#define F_aDEV  LG(LS(D))
#define F_aAXN  LG(LS(A))
#define F_aFNK  LG(LS(F))
#define F_aSTG  LG(LS(S))