hm_ad_lcmd: behavior_android_dev_lcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_lcmd";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_lao>;
    hold-trigger-key-positions = KEYS_RIGHT;
};

hm_ad_lshf: behavior_android_dev_lshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_lshf";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_e>;
    hold-trigger-key-positions = KEYS_RIGHT;
};

hm_ad_rshf: behavior_android_dev_rshf {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_rshf";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_es>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_ad_ralt: behavior_android_dev_ralt {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_ralt";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_lb>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_ad_rctrl: behavior_android_dev_rctrl {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_rctrl";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_rb>;
    hold-trigger-key-positions = KEYS_LEFT;
};

hm_ad_rcmd: behavior_android_dev_rcmd {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_ad_rcmd";
    #binding-cells = <2>;
    tapping-term-ms = <HP_TAPPING>;
    quick-tap-ms = <HP_QUICK_TAP>;
    flavor = "hold-preferred";
    global-quick-tap;
    bindings = <&kp>, <&mp_ad_loo>;
    hold-trigger-key-positions = KEYS_LEFT;
};
