to_aBAS_kp: behavior_to_kp {
    compatible = "zmk,behavior-hold-tap";
    label = "to_kp";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&to aBAS>, <&kp>;
};

mo_aAXNaBAS_to_aFNK: hold_mo_aAXNaBAS_to_aFNK {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aAXNaBAS_to_aFNK";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aAXN>, <&to aFNK>;
};

mo_aAXNaBAS_to_aAXN: hold_mo_aAXNaBAS_to_aAXN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aAXNaBAS_to_aAXN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aAXN>, <&to aAXN>;
};

mo_aDEVaBAS_to_aDEV: hold_mo_aDEVaBAS_to_aDEV {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aDEVaBAS_to_aDEV";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aDEV>, <&to aDEV>;
};

mo_aAXNaDEV_to_aBAS: hold_mo_aAXNaDEV_to_aBAS {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aAXNaDEV_to_aBAS";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aAXN>, <&to aBAS>;
};

mo_aAXNaDEV_to_aAXN: hold_mo_aAXNaDEV_to_aAXN {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aAXNaDEV_to_aAXN";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aAXN>, <&to aAXN>;
};

mo_aFNKaAXN_to_aFNK: hold_mo_aFNKaAXN_to_aFNK {
    compatible = "zmk,behavior-hold-tap";
    label = "mo_aFNK_aAXN_to_aFNK";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo aFNK>, <&to aFNK>;
};
