combo_windows_caps-word {
    bindings = <&cw_ON>;
    key-positions = <16 19>;
    slow-release;
    layers = <wBAS>;
};

combo_windows_cancel-caps {
    bindings = <&kp K_CANCEL>;
    key-positions = <14 21>;
    slow-release;
    layers = <wBAS>;
};