// tap:         #
// alt:         °
mp_wd_pound: morph_windows_dev_pound {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_pound";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp POUND>, <&kp LC(LS(SEMICOLON))>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         $
// alt:         €
mp_wd_money: morph_windows_dev_money {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_money";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp DLLR>, <&kp LC(N5)>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         [
// alt:         «
mp_wd_lb: morph_windows_dev_left_brackets {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_lb";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp LBKT>, <&kp LC(LBKT)>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         ]
// alt:         »
mp_wd_rb: morph_windows_dev_right_brackets {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_rb";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp RBKT>, <&kp LC(RBKT)>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         *
// shift:       *=
// alt:         **
mp_wd_a_a: morph_windows_dev_asterisk_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_a_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp ASTRK>, <&m_wd_eo>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_a: morph_windows_dev_asterisk {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_a";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_a_a>, <&m_wd_ma>;
};

// tap:         +
// shift:       +=
// alt:         ++
mp_wd_p_a: morph_windows_dev_plus_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_p_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp PLUS>, <&m_wd_io>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_p: morph_windows_dev_plus {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_p";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_p_a>, <&m_wd_as>;
};

// tap:         -
// shift:       -=
// alt:         --
mp_wd_m_a: morph_windows_dev_minus_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_m_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp MINUS>, <&m_wd_do>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_m: morph_windows_dev_minus {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_m";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_m_a>, <&m_wd_sa>;
};

// tap:         =
// shift:       ===
// alt:         =>
mp_wd_e_a: morph_windows_dev_equal_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_e_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp EQUAL>, <&m_wd_a>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_e: morph_windows_dev_equal {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_e";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_e_a>, <&m_wd_se>;
};

// tap:         /
// shift:       /=
// ctrl:        // line comment
// alt:         /* block comment *
mp_wd_s_s: morph_windows_dev_slash_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_s_s";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp FSLH>, <&m_wd_da>;
};
mp_wd_s: morph_windows_dev_slash {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_s";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mp_wd_s_s>, <&kp LS(A)>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         &
// shift:       &&=
// alt:         &&
mp_wd_lao_a: morph_windows_dev_logical_and_operator_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_lao_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp AMPS>, <&m_wd_la>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_lao: morph_windows_dev_logical_and_operator {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_lao";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_lao_a>, <&m_wd_laa>;
};

// tap:         |
// shift:       ||=
// alt:         ||
mp_wd_loo_a: morph_windows_dev_logical_or_operator_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_loo_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp PIPE>, <&m_wd_lo>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_loo: morph_windows_dev_logical_or_operator {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_loo";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_loo_a>, <&m_wd_loa>;
};

// tap:         ?
// shift:       ??=
// alt:         ¿
// alt+shift:   ??
mp_wd_qs_as: morph_windows_dev_question_symbol_alt_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_qs_as";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&m_wd_nca>, <&m_wd_nco>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_qs_a: morph_windows_dev_question_symbol_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_qs_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp QMARK>, <&kp LC(FSLH)>;
    keep-mods = <(MOD_LALT)>;
};
mp_wd_qs: morph_windows_dev_question_symbol {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_qs";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mp_wd_qs_a>, <&mp_wd_qs_as>;
    keep-mods = <(MOD_LSFT|MOD_RSFT)>;
};

MORPH_ASS(
    w,
    DEV,
    es,
    exclamation_symbol,
    &kp EXCL,    // tap:         !
    &kp LC(N1),  // alt:         ¡
    &m_wd_si,    // shift:       !==
    &m_wd_dno    // alt+shift:   !!
)

// tap:         ?.
// shift:       ?░:░
mp_wd_ql: morph_windows_dev_question_logical {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_ql";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_wd_oco>, <&m_wd_cto>;
};

// tap:         <
// shift:       <=
// alt:         <░/> /* html void tag */
mp_wd_lt_s: morph_windows_dev_lower_than_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_lt_s";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp LT>, <&m_wd_ltoet>;
};
mp_wd_lt: morph_windows_dev_lower_than {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_lt";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mp_wd_lt_s>, <&m_wd_hvt>;
    keep-mods = <(MOD_LALT)>;
};

// tap:         >
// shift:       >=
// alt:         </░> /* html close tag */
mp_wd_gt_s: morph_windows_dev_greater_than_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_gt_s";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp GT>, <&m_wd_gtoet>;
};
mp_wd_gt: morph_windows_dev_greater_than {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_wd_gt";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&mp_wd_gt_s>, <&m_wd_hct>;
    keep-mods = <(MOD_LALT)>;
};
