//mp_wDEV_pound
MORPH_KA(
    w,
    DEV,
    pound,
    pound,
    MOD_LALT,
    &kp POUND,             // tap:  #
    &kp LC(LS(SEMICOLON))  // alt:  °
)

//mp_wDEV_money
MORPH_KA(
    w,
    DEV,
    money,
    money,
    MOD_LALT,
    &kp DLLR,   // tap:  $
    &kp LC(N5)  // alt:  €
)

//mp_wDEV_lb
MORPH_KA(
    w,
    DEV,
    lb,
    left_brackets,
    MOD_LALT,
    &kp LBKT,     // tap:  [
    &kp LC(LBKT)  // alt:  «
)

//mp_wDEV_rb
MORPH_KA(
    w,
    DEV,
    rb,
    right_brackets,
    MOD_LALT|MOD_RALT,
    &kp RBKT,     // tap:  ]
    &kp LC(RBKT)  // alt:  »
)

// mp_wDEV_a
MORPH_KSA(
    w,
    DEV,
    a,
    asterisk,
    MOD_LALT,
    &kp ASTRK,  // tap:    *
    &m_wd_ma,   // shift:  *=
    &m_wd_eo    // alt:    **
)

// mp_wDEV_p
MORPH_KSA(
    w,
    DEV,
    p,
    plus,
    MOD_LALT,
    &kp PLUS,  // tap:    +
    &m_wd_as,  // shift:  +=
    &m_wd_io   // alt:    ++
)

// mp_wDEV_m
MORPH_KSA(
    w,
    DEV,
    m,
    minus,
    MOD_LALT,
    &kp MINUS,  // tap:    -
    &m_wd_sa,   // shift:  -=
    &m_wd_do    // alt:    --
)

// mp_wDEV_e
MORPH_KSA(
    w,
    DEV,
    e,
    equal,
    MOD_LALT,
    &kp EQUAL,  // tap:    =
    &m_wd_se,   // shift:  ===
    &m_wd_a     // alt:    =>
)

// mp_wDEV_s
MORPH_KAS(
    w,
    DEV,
    s,
    slash,
    MOD_LALT,
    &kp FSLH,   // tap:    /
    &kp LS(A),  // alt:    /* block comment */
    &m_wd_da    // shift:  /=
)               // ctrl:   // line comment

// mp_wDEV_lao
MORPH_KSA(
    w,
    DEV,
    lao,
    logical_and_operator,
    MOD_LALT,
    &kp AMPS,   // tap:    &
    &m_wd_laa,  // shift:  &&=
    &m_wd_la    // alt:    &&
)

// mp_wDEV_loo
MORPH_KSA(
    w,
    DEV,
    loo,
    logical_or_operator,
    MOD_LALT,
    &kp PIPE,   // tap:    |
    &m_wd_loa,  // shift:  ||=
    &m_wd_lo    // alt:    ||
)

// mp_wDEV_qs
MORPH_KASAS(
    w,
    DEV,
    qs,
    question_symbol,
    MOD_LALT,
    &kp QMARK,     // tap:        ?
    &kp LC(FSLH),  // alt:        ¿
    &m_wd_nca,     // shift:      ??=
    &m_wd_nco      // alt+shift:  ??
)

// mp_wDEV_es
MORPH_KASAS(
    w,
    DEV,
    es,
    exclamation_symbol,
    MOD_LALT,
    &kp EXCL,    // tap:        !
    &kp LC(N1),  // alt:        ¡
    &m_wd_si,    // shift:      !==
    &m_wd_dno    // alt+shift:  !!
)

//mp_wDEV_ql
MORPH_KS(
    w,
    DEV,
    ql,
    question_logical,
    &m_wd_oco,  // tap:    ?.
    &m_wd_cto   // shift:  ?░:░
)

// mp_wDEV_lt
MORPH_KAS(
    w,
    DEV,
    lt,
    lower_than,
    MOD_LALT,
    &kp LT,      // tap:    <
    &m_wd_hvt,   // alt:    <░/> /* html void tag */
    &m_wd_ltoet  // shift:  <=
)

// mp_wDEV_gt
MORPH_KAS(
    w,
    DEV,
    gt,
    greater_than,
    MOD_LALT,
    &kp GT,      // tap:    >
    &m_wd_hct,   // alt:    </░> /* html close tag */
    &m_wd_gtoet  // shift:  >=
)
