// tap:         a
// alt:         á
// alt+shift:   Á
mp_ai_a_s: morph_android_a_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_ai_a_s";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_ai_a>, <&m_ai_as>;
};
mp_ai_a: morph_android_a {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_ai_a";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp A>, <&mp_ai_a_s>;
    // keep-mods = <(MOD_LALT)>;
};

// tap:         e
// alt:         é
// alt+shift:   É
mp_ai_e_s: morph_android_e_shift {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_ai_e_s";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_ai_e>, <&m_ai_es>;
};
mp_ai_e: morph_android_e {
    compatible = "zmk,behavior-mod-morph";
    label = "e";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp E>, <&mp_ai_e_s>;
    keep-mods = <(MOD_LALT)>;
};

mp_ai_i: morph_android_i {
    compatible = "zmk,behavior-mod-morph";
    label = "i";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp I>, <&m_ai_i>;
    keep-mods = <(MOD_LALT)>;
};

mp_ai_o: morph_android_o {
    compatible = "zmk,behavior-mod-morph";
    label = "o";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp O>, <&m_ai_o>;
    keep-mods = <(MOD_LALT)>;
};

mp_ai_u: morph_android_u {
    compatible = "zmk,behavior-mod-morph";
    label = "u";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp U>, <&m_ai_u>;
    keep-mods = <(MOD_LALT)>;
};

mp_ai_n: morph_android_n {
    compatible = "zmk,behavior-mod-morph";
    label = "n";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp N>, <&m_ai_n>;
    keep-mods = <(MOD_LALT)>;
};

mp_ai_y: morph_android_y {
    compatible = "zmk,behavior-mod-morph";
    label = "y";
    #binding-cells = <0>;
    mods = <(MOD_LALT)>;
    bindings = <&kp Y>, <&m_ai_y>;
    keep-mods = <(MOD_LALT)>;
};
