mp_a_stg: morph_android_stg_layer {
    compatible = "zmk,behavior-mod-morph";
    label = "mp_a_stg";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&mo aSTG>, <&to_aSTG>;
};
