/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;               // repeat on tap-into-hold
    hold-trigger-key-positions = <0>;   // tap on interrupt
};

/* Shared Keys */
#define KEY_ESC     &to_wBAS_kp  0         ESC    // tap: esc       | long-tap: ww layer
#define KEY_TAB     &mt          RIGHT     TAB    // tap: tab       | long-tap: right (terminal autocompletion)
#define KEY_RET     &mt          F2        RET    // tap: return    | long-tap: rename (like macOs)
#define KEY_SPC     &kp          SPACE
#define NAV_BSPC    &mt          LC(BSPC)  BSPC   // tap: bspc      | long-tap: delete word backward
#define NAV_DEL     &mt          LC(DEL)   DEL    // tap: del       | long-tap: delete word forward

#include "os/win/keymap.dtsi"

