/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;               // repeat on tap-into-hold
    hold-trigger-key-positions = <0>;   // tap on interrupt
};

/* Layers */
#define BAS    0
#define DEV    1
#define AXN    2
#define FNK    3
#define STG    4

#define H_CWR  F18

#define F_BAS  F19
#define F_DEV  F20
#define F_AXN  F21
#define F_FNK  F22
#define F_STG  F23

/* Shared Keys */
#define KEY_ESC     &to_BAS_kp  0         ESC    // tap: esc       | long-tap: BAS layer
#define KEY_TAB     &mt         RIGHT     TAB    // tap: tab       | long-tap: right (terminal autocompletion)
#define KEY_RET     &mt         F2        RET    // tap: return    | long-tap: rename (like macOs)
#define KEY_SPC     &kp         SPACE
#define NAV_BSPC    &mt         LC(BSPC)  BSPC   // tap: bspc      | long-tap: delete word backward
#define NAV_DEL     &mt         LC(DEL)   DEL    // tap: del       | long-tap: delete word forward

/ {
    behaviors {
        #include "morph/shared.dtsi"

        #include "morph/base.dtsi"
        #include "morph/international.dtsi"
        #include "morph/actions.dtsi"
        #include "morph/num.dtsi"
        #include "morph/dev.dtsi"

        #include "hold/shared.dtsi"
        #include "hold/base.dtsi"
        #include "hold/dev.dtsi"
    };

    combos {
        compatible = "zmk,combos";

        #include "combos/base.dtsi"
        #include "combos/help.dtsi"
    };

    macros {
        #include "macros/shared.dtsi"
        #include "macros/international.dtsi"
        #include "macros/dev.dtsi"
        #include "macros/settings.dtsi"
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            #define B13  &hm_b_lcmd  LCMD   0  //A
            #define B14  &hm LCTRL   R
            #define B15  &hm LALT    S
            #define B16  &hm LSHFT   T

            #define B19  &hm_b_rshf  RSHFT  0  //N
            #define B20  &hm_b_ralt  LALT   0  //E
            #define B21  &hm_b_rctrl RCTRL  0  //I
            #define B22  &hm_b_rcmd  RCMD   0  //O

            #define B35  &mp_stg

            #define B36  &mo_DEVBAS_to_DEV  0 0
            #define B38  &mo_AXNBAS_to_AXN  0 0
            #define B39  &mo_AXNBAS_to_FNK  0 0
            #define B41  &mo_DEVBAS_to_DEV  0 0

            label = "BAS";
            bindings = <
    KEY_ESC  &kp Q  &kp W  &kp F    &kp P  &kp B             &kp J    &kp L  &mp_i_u  &mp_i_y  &mp_k_m    NAV_DEL
     &mp_bc    B13    B14    B15      B16  &kp G             &kp M      B19      B20      B21      B22   NAV_BSPC
    KEY_TAB  &kp Z  &kp X  &kp C    &kp D  &kp V             &kp K    &kp H   &mp_cs   &mp_dc   &mp_kq        B35
                             B36  KEY_SPC    B38               B39  KEY_RET      B41
            >;
        };

        dev_layer {
            #define D13  &hm_d_lcmd  LCMD    0
            #define D14  &hm         LCTRL   LBRC
            #define D15  &hm         LALT    RBRC
            #define D16  &hm_d_lshf  LSHFT   0

            #define D19  &hm_d_rshf  RSHFT   0
            #define D20  &hm_d_ralt  LALT    0
            #define D21  &hm_d_rctrl RCTRL   0
            #define D22  &hm_d_rcmd  RCMD    0

            #define D38  &mo_AXNDEV_to_BAS  0 0
            #define D39  &mo_AXNDEV_to_AXN  0 0

            label = "DEV";
            bindings = <
    KEY_ESC     &kp AT  &mp_d_pound  &mp_d_money  &mp_d_p     &m_i_d             &m_i_t   &mp_d_m  &kp UNDER  &kp PRCNT     &m_i_c    NAV_DEL
     &mp_bc        D13          D14          D15      D16     &m_i_s             &m_i_g       D19        D20        D21        D22   NAV_BSPC
    KEY_TAB  &kp LC(R)     &kp LPAR     &kp RPAR  &mp_d_a   &kp BSLH            &mp_d_s  &mp_d_qs     &kp LT     &kp GT   &mp_d_ql    &kp F12
                                          &mp_cs  KEY_SPC        D38                D39   KEY_RET     &mp_dc
            >;
        };

        act_num_layer {
            #define A01  &kp LG(LS(C))           // tap: color picker
            #define A05  &kp LC(F)               // tap: find
            #define A13  &hm LCMD   LG(LS(S))    // tap: printscreen
            #define A14  &hm LCTRL  LEFT
            #define A15  &hm LALT   DOWN
            #define A16  &hm LSHFT  RIGHT
            #define A17  &kp LG(E)               // tap: file explorer

            #define A19  &hm LSHFT  N4
            #define A20  &hm LALT   N5
            #define A21  &hm LCTRL  N6
            #define A22  &hm LCMD   EQUAL

            #define A35 &mo_FNKAXN_to_FNK    0 0

            #define A38  &to_BAS
            #define A39  &to_DEV

            #define KEY_UNDO    &kp RC(Z)       // tap: undo
            #define KEY_REDO    &kp RC(Y)       // tap: redo
            #define KEY_CUT     &kp RC(X)       // tap: cut
            #define KEY_COPY    &kp RC(C)       // tap: copy
            #define KEY_PASTE   &kp RC(V)       // tap: paste     | shift: paste without format

            label = "AXN";
            bindings = <
    KEY_ESC       A01  &mp_a_prev    &kp UP  &mp_a_next       A05            &kp KP_PLUS   &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY   NAV_DEL
     &mp_bc       A13         A14       A15         A16       A17                 &kp N0      A19     A20     A21              A22  NAV_BSPC
    KEY_TAB  KEY_UNDO     KEY_CUT  KEY_COPY   KEY_PASTE  KEY_REDO                &mp_k_m   &kp N1  &kp N2  &kp N3    &kp KP_DIVIDE       A35
                                     &mp_cs     KEY_SPC       A38                    A39  KEY_RET  &mp_dc
            >;
        };

        functions_layer {
            #define K13  &hm LCMD   F5
            #define K14  &hm LCTRL  F6
            #define K15  &hm LALT   F7
            #define K16  &hm LSHFT  F8

            #define K19  &hm RSHFT  HOME
            #define K20  &hm LALT   PG_DN
            #define K21  &hm RCTRL  END
            #define K22  &kp RCMD

            #define K38  &to_BAS
            #define K39  &to_DEV

            label = "FNK";
            bindings = <
    KEY_ESC  &kp F9  &kp F10  &kp F11  &kp F12  &none                  &none    &none  &kp PG_UP    &none    &none   NAV_DEL
     &mp_bc     K13      K14      K15      K16  &none                  &none      K19        K20      K21      K22  NAV_BSPC
    KEY_TAB  &kp F1   &kp F2   &kp F3   &kp F4  &none                  &none    &none      &none    &none    &none     &none
                               &mp_cs  KEY_SPC    K38                    K39  KEY_RET     &mp_dc
            >;
        };

        settings_layer {
            #define S10  &kp LG(LS(GRAVE))    // tap: fancy zones
            #define S11  &kp LC(LS(ESC))      // tap: task manager
            #define S24  &kp LG(K)            // tap: connect quick action

            #define S22  &kp RG(PAUSE_BREAK)  // tap: system info
            #define S23  &kp RG(I)            // tap: windows settings
            #define S34  &kp LC(LA(DEL))      // tap: windows security

            #define S05  &kp RC(PLUS)         // tap: zoom in
            #define S17  &kp RC(N0)           // tap: zoom reset
            #define S29  &kp RC(MINUS)        // tap: zoom out

            label = "STG";
            bindings = <
       KEY_ESC  &none    &none    &none  &kp C_BRI_DN       S05          &kp C_VOL_UP  &kp C_BRI_UP       &none       &none  S10    S11
    &bt BT_CLR  &none  &m_s_b1  &m_s_b2       &m_s_b3       S17            &kp C_MUTE    &kp C_PREV    &kp C_PP  &kp C_NEXT  S22    S23
           S24  &none  &m_s_b4  &m_s_b5       &m_s_b6       S29          &kp C_VOL_DN      &kp C_RW  &kp C_STOP    &kp C_FF  S34  &none
                                  &none       KEY_SPC   &to_BAS               &to_DEV       KEY_RET       &none
            >;
        };
    };
};
