to_DEF: to_DEF_layer {
    compatible = "zmk,behavior-macro";
    label = "to_DEF";
    #binding-cells = <0>;
    bindings =
        <&to DEF &kp F5>;
};

to_DEV: to_DEV_layer {
    compatible = "zmk,behavior-macro";
    label = "to_DEV";
    #binding-cells = <0>;
    bindings =
        <&to DEV &kp F_DEV>;
};

to_AYN: to_AYN_layer {
    compatible = "zmk,behavior-macro";
    label = "to_AYN";
    #binding-cells = <0>;
    bindings =
        <&to AYN &kp F_AYN>;
};

to_STG: to_STG_layer {
    compatible = "zmk,behavior-macro";
    label = "to_STG";
    #binding-cells = <0>;
    bindings =
        <&to STG &kp F_STG>;
};

mo_AYNto0: momentary_2to0 {
    compatible = "zmk,behavior-macro";
    label = "mo_2to0";
    #binding-cells = <0>;
    wait-ms = <0>;
    bindings
        = <&macro_press &mo AYN &kp F_AYN>
        , <&macro_pause_for_release>
        , <&macro_release &mo AYN &kp F_DEF>;
};


