to_DEF: to_DEF_layer {
    compatible = "zmk,behavior-macro";
    label = "to_DEF";
    #binding-cells = <0>;
    bindings =
        <&to DEF &kp F_DEF>;
};

to_DEV: to_DEV_layer {
    compatible = "zmk,behavior-macro";
    label = "to_DEV";
    #binding-cells = <0>;
    bindings =
        <&to DEV &kp F_DEV>;
};

to_AYN: to_AYN_layer {
    compatible = "zmk,behavior-macro";
    label = "to_AYN";
    #binding-cells = <0>;
    bindings =
        <&to AYN &kp F_AYN>;
};

to_STG: to_STG_layer {
    compatible = "zmk,behavior-macro";
    label = "to_STG";
    #binding-cells = <0>;
    bindings =
        <&to STG &kp F_STG>;
};

mo_AYN_to_DEF: momentary_AYN_to_DEF {
    compatible = "zmk,behavior-macro";
    label = "mo_AYN_to_DEF";
    #binding-cells = <0>;
    wait-ms = <0>;
    bindings
        = <&macro_press &mo AYN>
        , <&macro_tap &kp F_AYN>
        , <&macro_pause_for_release>
        , <&macro_release &mo AYN>
        , <&macro_tap &kp F_DEF>;
};

mo_AYN_to_DEV: momentary_AYN_to_DEV {
    compatible = "zmk,behavior-macro";
    label = "mo_AYN_to_DEV";
    #binding-cells = <0>;
    wait-ms = <0>;
    bindings
        = <&macro_press &mo AYN>
        , <&macro_tap &kp F_AYN>
        , <&macro_pause_for_release>
        , <&macro_release &mo AYN>
        , <&macro_tap &kp F_DEV>;
};

mo_STG_to_DEF: momentary_STG_to_DEF {
    compatible = "zmk,behavior-macro";
    label = "mo_STG_to_DEF";
    #binding-cells = <0>;
    wait-ms = <0>;
    bindings
        = <&macro_press &mo STG>
        , <&macro_tap &kp F_STG>
        , <&macro_pause_for_release>
        , <&macro_release &mo STG>
        , <&macro_tap &kp F_DEF>;
};
