combo_help-DEF {
    bindings = <&kp H_DEF>;
    key-positions = <13 22>;
    slow-release;
    layers = <DEF>;
};

combo_help-DEV {
    bindings = <&kp H_DEV>;
    key-positions = <13 22>;
    slow-release;
    layers = <DEV>;
};

combo_help-AXN {
    bindings = <&kp H_AXN>;
    key-positions = <13 22>;
    slow-release;
    layers = <AXN>;
};

combo_help-STG {
    bindings = <&kp H_STG>;
    key-positions = <13 22>;
    slow-release;
    layers = <STG>;
};