combo_help-DEF {
    bindings = <&kp H_DEF>;
    key-positions = <13 22>;
    slow-release;
    layer = <DEF>;
};

combo_help-DEV {
    bindings = <&kp H_DEV>;
    key-positions = <13 22>;
    slow-release;
    layer = <DEV>;
};

combo_help-AYN {
    bindings = <&kp H_AYN>;
    key-positions = <13 22>;
    slow-release;
    layer = <AYN>;
};

combo_help-STG {
    bindings = <&kp H_STG>;
    key-positions = <13 22>;
    slow-release;
    layer = <STG>;
};