mp_kq: morph_key_quote {
    compatible = "zmk,behavior-mod-morph";
    label = "' ''";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp SQT>, <&kp DQT>;
};

mp_kq_alt: morph_key_quote_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "` ~";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp GRAVE>, <&kp TILDE>;
};

mp_ko: morph_key_operator {
    compatible = "zmk,behavior-mod-morph";
    label = "- +";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp MINUS>, <&kp PLUS>;
};

mp_ko_alt: morph_key_operator_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "= *";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp EQUAL>, <&kp ASTRK>;
};

mp_kl: morph_key_logic {
    compatible = "zmk,behavior-mod-morph";
    label = "/ &";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp FSLH>, <&kp AMPS>;
};

mp_kl_alt: morph_key_logic_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "? |";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp QMARK>, <&kp PIPE>;
};

mp_kb: morph_key_brackets {
    compatible = "zmk,behavior-mod-morph";
    label = "{} </>";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_bc>, <&m_ba_h>;
};

mp_kb_alt: morph_key_brackets_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "[] ()";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_bs>, <&m_br>;
};