mp_d_a_shft: morph_dev_asterisk_shft {
    compatible = "zmk,behavior-mod-morph";
    label = "* **";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp ASTRK>, <&m_d_eo>;
};

mp_d_a: morph_dev_asterisk_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "* =*";
    #binding-cells = <0>;
    mods = <(MOD_LALT|MOD_RALT)>;
    bindings = <&mp_d_a_shft>, <&m_d_ma>;
};

mp_d_p_shft: morph_dev_plus_shft {
    compatible = "zmk,behavior-mod-morph";
    label = "+ ++";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp PLUS>, <&m_d_io>;
};

mp_d_p: morph_dev_plus_alt {
    compatible = "zmk,behavior-mod-morph";
    label = "+ =+";
    #binding-cells = <0>;
    mods = <(MOD_LALT|MOD_RALT)>;
    bindings = <&mp_d_p_shft>, <&m_d_as>;
};

mp_d_m: morph_dev_minus {
    compatible = "zmk,behavior-mod-morph";
    label = "- --";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp MINUS>, <&m_d_do>;
};

mp_d_e: morph_dev_equal {
    compatible = "zmk,behavior-mod-morph";
    label = "= =>";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp EQUAL>, <&m_d_a>;
};

mp_d_s: morph_dev_slash {
    compatible = "zmk,behavior-mod-morph";
    label = "/";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp FSLH>, <&kp RA(RS(A))>;
};

mp_d_lao: morph_dev_logical_and_operator {
    compatible = "zmk,behavior-mod-morph";
    label = "& &&";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp AMPS>, <&m_d_la>;
};

mp_d_loo: morph_dev_logical_or_operator {
    compatible = "zmk,behavior-mod-morph";
    label = "| ||";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp PIPE>, <&m_d_lo>;
};

mp_d_qs: morph_dev_question_symbol {
    compatible = "zmk,behavior-mod-morph";
    label = "? ??";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp QMARK>, <&m_d_nco>;
};

mp_d_es: morph_dev_exclamation_symbol {
    compatible = "zmk,behavior-mod-morph";
    label = "! !!";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp EXCL>, <&m_d_bo>;
};

mp_d_ql: morph_dev_question_logical {
    compatible = "zmk,behavior-mod-morph";
    label = "?. ?░:░";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&m_d_oco>, <&m_d_cto>;
};

